
<div class="row" style="height:55px; position: relative;border-bottom: 2px solid #9a9a9a">
  <a class="logo" href="{{ linklists[section.settings.header_menu].links[0].url }}">LOGO</a>
  <div class="align-center">
    <ul>
      <li><a href="{{ settings.link_list[0].url }}">HOME</a></li>
      <li class="dropdown">
        <a href="#" class="dropbtn">Jewelly <i class="fa fa-caret-down"></i></a>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </li>
      <li><a href="#">Accessories</a></li>
    </ul>
  </div>
  <div class="align-right">
    <a class="mauto" href="{{ linklists[section.settings.header_menu].links[1].url }}"><i class="fas fa-search"></i> </a>
    <a class="mauto" href="{{ linklists[section.settings.header_menu].links[2].url }}"><i class="fas fa-user"></i> </a>
    <a class="mauto" href="{{ linklists[section.settings.header_menu].links[3].url }}"><span data-cart-count class="fas fa-cart-arrow-down"><span id="cartnum">{{ cart.item_count }}</span>
</span> </a>
  </div>
</div>

{% schema %}
{
"name":"Header",
"settings":[{
"type":"link_list",
"id":"header_menu",
"label":"Choose menu"
}]
}
{% endschema %}


